@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

body {
    /* 背景色 */
    background-color: #e0f0f9;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#greetingContainer{
    color: red;
    font-size: large;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #f1f3f9;
    height: 100vh;
    font-family: "Muli", Arial, sans-serif;
}

.buttons > button{
    margin-right: 30px;
}

.btn{
    background: #1462ff;
    color: white;
    display: flex;
    justify-content:space-around;
    border-radius: 12px;
    padding: 12px 48px;
    box-shadow: 0 6px 30px -10px #4a74c9;
    transition: all 0.5s ease;
    border: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    transform: scale(0.930);
}

.title{
    color: tomato;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

