/* index.html */

/* id menu に対して装飾 */
#menu {
    width:  200px;
    background-color: #00ff00;
    float: left;
}

#header { 
    background-color: yellow;
    /*font: bold;*/
    font-size: 50;
}

#main {
    background-color: #59d9d9;
    color: rgb(206, 113, 32);
    font-size: 20;
    text-decoration: dashed;
}

.menu_item{ 
    width: 150px;
    background-color: #ffffff;
    color:black;
}

#check{
    color: rebeccapurple;
}